.demonstrations {
    top: 99vh;
    position: static;
    display: grid;
    margin: 0 auto;
    width: 95vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    /* grid-column-gap: -25px; */
}

.portfolio-item {
    margin: 0 auto;
}



@media only screen and (max-width: 1060px) {
    .demonstrations {
        grid-template-columns: 1fr 1fr;
    }

}


@media only screen and (max-width: 768px) {
    .demonstrations {
        grid-template-columns: 1fr;
    }

}
