.demonstrations {
    /* top: 99vh; */
    position: relative;
    left: -1px !important;
    display: grid;
    /* margin: 0 auto; */
    /* width: 95vw; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    /* grid-column-gap: 5px; */
}
@media only screen and (max-width: 768px) {
    .demonstrations {
        /* left: 9px !important; */ 
    }
}

.portfolio-item {
    margin: 0 auto;
}



@media only screen and (max-width: 1060px) {
    .demonstrations {
        grid-template-columns: 1fr 1fr;
    }

}


@media only screen and (max-width: 640px) {
    .demonstrations {
        grid-template-columns: 1fr;
    }

}
