.portfolio-item {
height: 460px;
width: 350px;
border-radius: 15px;
border: solid black 1px;
background-color: #EFF1F3;
transform: translateX(-.5rem); /* covers offset of the custom scroll bar */

box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.36);
overflow: hidden;
/* margin-right: 3rem; */
}

@media only screen and (max-width: 350px) {
    .portfolio-item {
        width: 310px
    }
    .portfolio-item__cover {
        width: 310px;
    }
    img {
        max-width: 300px;
    }

}
@media only screen and (max-width: 768px) {
    .portfolio-item {
        width:290px;
    }
    .portfolio-item__cover {
        width: 290px;
    }
    img {
        max-width: 290px;
    }
    .portfolio-item__description {
        max-width: 260px;
    }

}

.portfolio-item:hover {
    /* transform: scale(1.005); */
}

.portfolio-item__cover {
    height: 230px;
    width: 350px;
    overflow: hidden;
    /* border: solid red 3px; */
}

.portfolio-image {
    width: 100px;
    position: relative;
}

.portfolio-item__cover--hover-button {
    color: #1C2541;
    width: 150px;
    position: relative;
    bottom: -20px;
}
.portfolio-item__cover--hover-button:hover {
    transform: scale(1.015);
}

.portfolio-item__description {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    left: 20px;
    /* top: 20px; */
    height: 200px;
    width: 310px;
    color: black;
    /* border: solid green 2px; */
    overflow: auto;
    padding-right: 10px;
    
}
.hover-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hover-button {
    position: relative;
    top: -60px;
    width: 120px;
    padding: 5px 30px 5px 30px;
    height: 30px;
    border-radius: 20px;
    /* border: solid 3px #F2F4F3; */
    /* border: solid 3px #8F3985; */
    border: solid 3px #1C2541;
    background: #EFF1F3;
}

.hover-button:hover {
    /* transform: scale(1.1); */
}

img {
    display: block;
    /* border-radius: 500px; */
}



width
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }