body {
    height: 99vh;
    background-color: #0F0F0F;
    /* background-color: #2F2F2F ; */
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  transform: translateY(-2.5%);
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.intro-name {
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-size: 2.7rem;
    /* color: #CACACA; */
    color: white;
    margin-bottom: 0;
}

.intro-stefan {
  
    color: #90FCF9;
}

.intro-subtitle {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 1.9rem;
    /* color: #8A8A8A;   */
    color: white;
    margin-bottom: 9px;
}
.intro-pg {
    /* color: #B6B6B6; */
    
    color: white;
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-bottom: 9px;
    font-size: 1.1rem;
}
.intro-pg-2 {
    /* color: #B6B6B6; */
    
    color: white;
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 1.1rem;
}

a {
    color: inherit; /* grey colors for links too */
    text-decoration: inherit; /* no underline */
}



.test {
    bottom: -120%;
    width: 99vw;
    left: 1px;
    top: 99vh;
    position: relative;
    padding-bottom: 15vh;
    padding-top: 15vh;
    /* background-color: #CACACA   ; */
    /* background-color: #8A8A8A  ; */
    /* background-color: #4264FB ; */
    /* background-color: #76CFCC ; */
    background-color: #B8FDFB ;
    /* overflow-x: hidden; */
}

.demonstrations {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}